# Ambiente virtual
venv/
.env

# VSCode
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco local
db.sqlite3

# Arquivos de cache/teste
.pytest_cache/
.coverage
htmlcov/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Django
staticfiles/
media/

# Logs
*.log

#Banco de dados não relacional no container do Docker
.mongodb_data/