<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de produtos</h1>
    <Button>Adicionar produto</Button>
    <table border="1">
    <thead>
        <tr>
            <th>Estoque</th>
            <th>Nome</th>
            <th>Unidade</th>
            <th>Valor venda</th>
            <th>Grupo</th>
            <th>Preço 100g</th>
        </tr>
    </thead>

    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.Estoque }}</td>
            <td>{{ produto.Nome }}</td>
            <td>{{ produto.Unidade }}</td>
            <td>{{ produto.Valor_venda }}</td>
            <td>{{ produto.Grupo }}</td>
            <td>{{ produto.Preco_100g }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>